apiVersion: v1
kind: ConfigMap
metadata:
  name: prometheus-config
  namespace: test-dbo-system
data:
  prometheus.yml: |
    global:
      scrape_interval: 15s
      evaluation_interval: 15s

    scrape_configs:
      - job_name: 'payment-service'
        static_configs:
          - targets: ['payment-service:8081']
        metrics_path: '/actuator/prometheus'
        scrape_interval: 15s
    
      - job_name: 'balance-service'
        static_configs:
          - targets: ['balance-service:8082']
        metrics_path: '/actuator/prometheus'
        scrape_interval: 15s
    
      - job_name: 'notification-service'
        static_configs:
          - targets: ['notification-service:8083']
        metrics_path: '/actuator/prometheus'
        scrape_interval: 15s
#    scrape_configs:
#    - job_name: 'JAVA-services'
#      static_configs:
#      - targets:
#        - 'payment-service:8081'
#        - 'balance-service:8082'
#        - 'notification-service:8083'
#      metrics_path: /actuator/prometheus
#    - job_name: 'kubernetes-services'
#      kubernetes_sd_configs:
#      - role: endpoints
#      relabel_configs:
#      - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_scrape]
#        action: keep
#        regex: true
#      - source_labels: [__meta_kubernetes_service_annotation_prometheus_io_path]
#        action: replace
#        target_label: __metrics_path__
#        regex: (.+)
#      - source_labels: [__address__, __meta_kubernetes_service_annotation_prometheus_io_port]
#        action: replace
#        regex: ([^:]+)(?::\d+)?;(\d+)
#        replacement: $1:$2
#        target_label: __address__
#      - action: labelmap
#        regex: __meta_kubernetes_service_label_(.+)
#      - source_labels: [__meta_kubernetes_namespace]
#        action: replace
#        target_label: kubernetes_namespace
#      - source_labels: [__meta_kubernetes_service_name]
#        action: replace
#        target_label: kubernetes_name

    
